.button {
    background-color: $button-normal-state;
    padding: 0 .5em; 
    border-radius: 4px;
}

@media (max-width: 768px) {

    .button {
       
        display: block;
        width: 50%;
        margin: .2em auto;
        color: $sable;
        text-align: center;
    }
}
