.header {
    width: 100%;
    text-align: center;

    &__img {
        width: 40%;
        margin: 0 auto;
    }
}

@media (max-width: 760px) {

    .header {
        width: 100%;

        &__img {
            width: 100%;
        }
    }

}