.main {
    margin: 0.5em;

    &__left {
        border: 1px solid $sable;
        padding: 1em;
    
        &__card {
        border: 1px solid $gray;
        padding: .4em;
        font-family: $poppins;

            &:first-child {
                margin-bottom: .5em;
            }
        }

        &__img {
            width: 100%;
            height: auto;
        }

        &__title {
        font-size: $medium;
        padding: .3em 0;
        }

        &__text {
        font-size: $x-small;
        text-align: justify;
        }

        &__name {
        font-size: $small;
        padding-top: .3em;
        }

        &__icon {
        font-size: $x-small;
        }
    }

    &__right { 
        width: 100%;
        border: 1px solid $sable;
        padding: 1em;
        text-align: center;

        &__card {
            padding: .4em;
            font-family: $poppins;
        }

        &__img {
            width: 25%;
            border: 1px solid $sable;
            border-radius: 50%;
            margin: 0 auto;
        }

        &__head {
            font-size: $medium;
        }

        &__title {
            font-size: $medium;
            background-color: $dark-gray;
            color: $white;
        }
        &__text, &__list {
            padding-top: 1em;
            font-size: $x-small;
            text-align: left;
            text-align: justify;
        }

        &__list {
            
            padding-left: 1.8em;
            list-style: circle;
        }

        &__svg {
            width: 35%;
            padding-top: 2em;  
        }
    }
}

@media (max-width: 768px) {

    .main__left {

        &__title {
            font-size: $large;
            line-height: 2.3em;
        }

        &__text {
            font-size: $small;
            text-align: justify;
        }

        &__name {
            font-size: $medium;
        }

        &__icon {
            font-size: $medium;
        }
    }

    .main__right {

        &__head {
            font-size: $large;
        }

        &__text {
            font-size: $small;
            line-height: 2em;
            text-align: justify;
        }

        &__svg {
            width: 70%;
        }

        &__img {
            width: 70%;
        }
    }
}